WEATHERSTATION_MQTT_IP=192.168.1.100
WEATHERSTATION_MQTT_PORT=1883
WEATHERSTATION_MQTT_USERNAME=mqtt_user
WEATHERSTATION_MQTT_PASSWORD=change_me
WEATHERSTATION_SENSOR_ID=123456789

MESH_HOST=127.0.0.1
MESH_PORT=4405

SEND_INTERVAL=900
MAX_DATA_AGE=180
MESH_RECONNECT_INTERVAL=10
